BOT_TOKEN=y8664587319:AAEBx1c5_7w_h83klxTSOjb7GD_Pqudec_Y
ADMIN_IDS=474152178
OPENAI_API_KEY=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
